ul li {
    display: inline-block;  
    border: 3px solid #002fff;
    width: 150px;
    list-style-type: none;
    padding: 15px 15px 15px 25px;
    margin-top: 0;
    margin-left: 10px;
    }
    av ul li {
        list-style:none;
        position: relative;
    }
    /* Changes color when hovering*/
    nav a:hover {
        background-color:#c9bbb1;
        border: 3px solid #ff000d;
    }
    
    nav ul li a{
        display: block;
        font-family: ptsans; 
        font-weight: bold;
        color: #b1723b;
        font-size: 24px;
        padding: 0px 10px 10px 15px;
        text-decoration: none;
    }
    /* dropdown styling*/
    nav ul li ul{
        display: none;
        position: absolute;
        background-color: #c9bbb1;
        border: 3px dotted #002fff;
        padding: 10px; 
        border-radius: 0px 0px 4px 4px;
    }
    /* to show dropsdown when hovering*/
    nav ul li:hover ul{
        display: block;  
    }
    
    nav ul li ul li {
        width: 100px;
        text-align: center;
        border-radius: 4px;      
    }
    nav ul li ul li a {
        padding: 0px 12px;
    }
    
    nav ul li ul li a:hover {
        background-color: #c9bbb1;
    }
/*responsive navbar*/

body{margin: 1% auto; width: 90%;}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


#hamburger-nav{
    width: 100%;
    position: sticky;
    top: 0;
}

#menu-items{
    display: flex;
}
#menu-items a{
    flex-grow: 1;
    flex-basis: 0;
    color: #c9bbb1;
    text-decoration: none;
    text-align: center;
}
#hamburger-nav label, #hamburger { display: none; }
@media screen and (max-width: 811px){
    #menu-items a {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }

  #hamburger-nav label {
    display: inline-block;
    color: #c9bbb1;
    background: #002fff;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

#menu-items { display: none; }
#hamburger-nav input:checked ~ #menu-items { display: block; }
}    