@font-face { 

    font-family: PTSans; /*this is where we give our font a name so we can use it!*/
    
    src: url("PTSans-Regular.ttf"); /*remember this is how we link to files in CSS!*/
    
    }
    
    body {
        background-color: #c9bbb1;
        color: #00006e;
    }
h1, h2  {color: #1b94cc;}
main p:first-child::first-letter {font-weight: bold;}
p {text-indent: 2em;}
.center {
    text-align: center;
    border: 3px solid green;
  }
  p {text-indent: 2em;}

.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1em;
    grid-auto-rows:minmax(100px, auto);
    width:100%;
}
@media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
}
@media Print {
    *{ 
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }



}